<footer>
      <p>&#169  2024 | All Rights Reserved |</p> 
      <p>Developed with 
        <svg class="footer-svg" width="14px" height="13px"><use href="./images/heart.svg"></use></svg>
         by <span class="modal-team">GoIt Students</span></p>
         <!--team modal-->
    <div class="team-modal is-hidden" data-modal>
      <div class="modal-content">
      <button class="close-btn" data-modal-close>
      <svg class="close-icon">
        <use
          href="./images/close.svg"
          width="14px"
          height="14px"
        ></use>
      </svg>
     </button>
      <h2>Our Team</h2>
      <div class="our-team">
      <ul>
        <li>
          <img src="" alt="Florin" />
          <span class="name">Florin Tihi</span>
          <span class="role">Team Leader</span>
        </li>
        <li>
          <img src="" alt="Adrian" />
          <span class="name">Adrian Barzalea</span>
          <span class="role">Scrum Master</span>
        </li>

        <li>
          <img src="" alt="Roxana" />
          <span class="name">Roxana Mindreci</span>
          <span class="role">Web developer</span>
        </li>
        <li>
          <img src="" alt="Zenaida" />
          <span class="name">Zenaida Chiuariu</span>
          <span class="role">Web developer</span>
        </li>
        <li>
          <img src="" alt="Alexandru" />
          <span class="name">Alexandru Pustan</span>
          <span class="role">Web developer</span>
        </li>
        <li>
          <img src="" alt="Ovidiu" />
          <span class="name">Ovidiu Bodean</span>
          <span class="role">Web developer</span>
        </li>
      </ul>
    </div>
  </div>
</div>
    </div>
    </footer>